<style>
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
</style>
<footer class='footer'>
    <div class='container clearfix'>
        <div>
            Scottish Charitable Incorporated Organisation SC050443
        </div>
    </div> 
</footer>