{{>header}}
{{>navbar}}
<body>
    <div class="container">
        <div class="row">
            <!-- Image Section -->
            <div class="col-md-6">
                <div class="image-wrapper">
                    <img src="../img\TSPN_logo.png" class="img-fluid" width='550' height='400'>
                </div>
            </div>
            <!-- Text Section -->
            <div class="col-md-6">
                <div class="text-wrapper">
                    <h1>Welcome</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut lectus vitae arcu tristique ullamcorper. Nam vehicula elit et bibendum elementum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut lectus vitae arcu tristique ullamcorper. Nam vehicula elit et bibendum elementum.</p>
                </div>
            </div>
        </div>
    </div>
<br/>
<br/>
<br/>
{{>footer}}
</body>