<nav class="navbar navbar-expand-sm fixed-top" padding='20px'>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src='../img\scottish-pantry-network-logo.jpg' width='25px' height='25px'>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/about">About</a></li>
        <li class="active"><a href="/contact">Contact Us</a></li>
        <li class="active"><a href="/pantry/pantries">Pantry Locations</a></li>
        <li><a href='/donation/donate'>Make a Donation</a></li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Donations<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='/donation/all'>View Donations</a></li>
            <li><a href='/donation/claimedDonations'>Claimed Donations</a></li>
          </ul>
        </li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/messages">View Messages</a></li>
            <li><a href="/admin/admins">All Admins</a></li>
            <li><a href="/admin/register">Create Admin</a></li>
            <li><a href="/user/users">All Users</a></li>
            <li><a href='/pantry/register'>Create Pantry</a></li>
          </ul>
        </li>
      </ul>

    
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
  
    </div>
  </div>
</nav>